# Archivos compilados de Java
*.class

# Empaquetados y binarios
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Directorios de compilación / IDEs
bin/
out/
build/
target/

# Archivos de configuración de IDEs y editores
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Archivos de registro y temporales
*.log
*.tmp
*.temp

# Archivos del sistema operativo
.DS_Store
Thumbs.db
